/*This is the css page for the sign-up and the sign-in pages*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica';
    box-sizing: border-box;

}

.hero {
    background: #260238;
    min-height: 100vh;
    width: 100%;
    color: #fff;
    position: relative;

}
section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    background: #260238;

}
.box {
    position: relative;
    background: pink;
    width: 160vh;
    height: 70vh;
}

.box-left {
    position: relative;
    right: 100px;
    background: black;
    width: 50vh;
    height: 70vh;
}

.float-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #260238;
}

.float-child-L {
    position: center;
    display: inline-block;
    width: 50vh;
    height: 50vh;
    background:pink;
    padding: 1rem 1rem;
    vertical-align: middle;
}  
.float-child-R {
    position: center;
    display: inline-block;
    width: 50vh;
    height: 50vh;
    background:black;
    padding: 1rem 1rem;
    vertical-align: middle;
}  

nav{
    display: flex;
    align-items: center;
    padding: 20px 8%;
}

nav .menu-img {
    width: 25px;
    margin-right: 20px;
    cursor: pointer;
}

nav .logo {
    width: 40px;
    cursor: pointer;

}

nav ul{
    flex: 1;
    text-align: right;

}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

button{
    background: #efefef;
    height: 30px;
    width: 60px;
    
    border: 0;
    outline: 0;
    cursor: pointer;
}

button span {
    display: block;
    background: #999;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    margin-left: 2px;

}

.text-container{
    max-width: 600px;
    margin-top: 7%;
    margin-left: 50%;
}

.text-container h1{
    font-size: 80px;
    font-weight: 400;
}

.text-container p{
    font-size: 25px;
}

.text-container a{
    text-decoration: none;
    background: #00986f;
    padding: 10px 40px;
    display: inline-block;
    color: #fff;
    font-size: 18px;
    margin-top: 30px;
    border-radius: 30px;

}

p.title {
    padding-top: 20px;
    padding-left: 20px;
    position: relative;
    font-size: 65px;
    font-weight: 100;

}

p.paragraph {
    font-size: 25px;
    padding-left: 30px;
    max-width: 400px;
    
}

.sign-up{
    margin-top: 7%;
    margin-left: 50%;
    z-index: 2;
}

.sign-up a{
    text-decoration: none;
    background: #00986f;
    padding: 10px 40px;
    display: inline-block;
    color: #fff;
    font-size: 18px;
    margin-top: 30px;
    border-radius: 30px;
}

/* Define the rectangle styles */
.rectangle {
    width: 150vh;
    height: 65vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

/* Define the black and pink sides of the rectangle */
.rectangle .black-side {
    width: 50%;
    background-color: black;
}

.rectangle .pink-side {
    width: 50%;
    background-color: rgb(245, 245, 245);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Define the button styles */
.rectangle button {
    width: 180px;
    height: 40px;
    background-color: white;
    border: none;
    color: #4B4B4B;
    font-size: 16px;
}

.rectangle button:hover {
    background-color: #EB46B4;
    color: white;
}

p.tag {
    color: #4B4B4B;
    font-size: 18px;
    padding-left: 30px;
    max-width: 400px;
    padding-right: 20px;
}

/*sign-up specific styling*/
form {
    border: 3px solid #f1f1f1;
    color: black;
  }

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

.sign-in-button {
    background-color: #04AA6D;
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }

.sign-in-container {
    padding: 16px;
}

span.psw {
   float: right;
   padding-top: 16px;
}