body {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
  
  }
  
  .hero {
    background: #260238;
    height: 100vh;
    width: 100%;
    color: #fff;
    position: relative;
  
  }
  section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #260238;
    height:1027px;
  }
  .box {
    position: relative;
    background: pink;
    width: 90vh;
    height: 60vh;
  }
  
  nav{
    display: flex;
    align-items: center;
    padding: 20px 8%;
    background: #16191E;
    
  }
  
  nav .menu-img {
    width: 25px;
    margin-right: 20px;
    cursor: pointer;
  }
  
  nav .logo {
    width: 40px;
    cursor: pointer;
  
  }
  
  nav ul{
    flex: 1;
    text-align: right;
  
  }
  
  nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0 20px;
  }
  
  nav ul li a{
    text-decoration: none;
    color: white;
  }
  
  button{
    background: #efefef;
    height: 30px;
    width: 60px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
  }
  
  button span {
    display: block;
    background: #999;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    margin-left: 2px;
  
  }
  
  .text-container{
    max-width: 600px;
    margin-top: 7%;
    margin-left: 50%;
  }
  
  .text-container h1{
    font-size: 80px;
    font-weight: 400;
  }
  
  .text-container p{
    font-size: 25px;
  }
  
  .text-container a{
    text-decoration: none;
    background: #00986f;
    padding: 10px 40px;
    display: inline-block;
    color: #fff;
    font-size: 18px;
    margin-top: 30px;
    border-radius: 30px;
  
  }
  
  
  #logo{
    position:relative;
    right: 50%;
    top: 0.1%;
    margin: auto;
    width: 60px;
    padding: 20px;
  }
  
  .info{
    width:30%;
    color:white;
    text-align:center;
    font-size:20px;
    position:relative;
    left:0%;
    top:30px;
  }
