<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Resume Parser</title>
        <link rel="stylesheet" href="../static/styles-home.css">
        
    </head>
    
    <body>
        <div class="hero">
            <nav>
                <a href="Home.html">
                    <img src="../static/assets/logo.png" class="logo">
                </a>
                <ul>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="search.html">Search</a></li>
                    <li><a href="prices.html">Products</a></li>
                    <li><a href="login.html">Login</a></li>
                    <li><a href="sign-up.html">Sign Up</a></li>
                </ul>
                
            </nav>

            <section>
                <div class="description">
                    
                </div>

                <div class="name">
                    <img src="../static/assets/Joblify.png">
                    <h3>Your Career Companion</h3>
                </div>

                <div class="sn-up">
                    <a href="sign-up.html"><button class="sn-up-btn"><b>Start</b></button></a>
                </div>
            </section>
        </div>
            

</html>
