<!DOCTYPE html>
<html>
<head>
    <title>PDF Upload and Display</title>
    <link rel="stylesheet" href="../static/styles-jobdescript.css">
</head>
<body>
    <div class="hero">
        <div class="nav-bar">
            <nav>
                <a href="Home.html">
                    <img src="../static/assets/logo.png" class="logo">
                </a>

                <ul>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="search.html">Search</a></li>
                    <li><a href="prices.html">Products</a></li>
                    <li><a href="login.html">Login</a></li>
                    <li><a href="sign-up.html">Sign Up</a></li>
                </ul>

            </nav>
        </div>


        <div class="rectangle">
            <form>
                <div id="pdf-drop-area" >
                    <textarea id="resume-text" rows="10" cols="50" placeholder="Enter Job Description" style="width: 80%; height: 90%; color: white; background-color: rgb(47, 47, 47); font-size: 40px;"></textarea>
                </div>

                <button type="submit" style="float: right;">Submit</button>
            </form>
        </div>
        
        
    </div>


    <div id="pdf-display_"></div>