<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Resume Parser</title>
        <link rel="stylesheet" href="../static/styles-prices.css">
        
    </head>
    
    <body>
        
        <div class="hero">
            <nav>
                <a href="Home.html">
                    <img src="../static/assets/Logo.png" class="logo">
                </a>
                <ul>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="search.html">Search</a></li>
                    <li><a href="prices.html">Products</a></li>
                    <li><a href="login.html">Login</a></li>
                    <li><a href="sign-up.html">Sign Up</a></li>
                </ul>
                
            </nav>

            <section>
                <div class="wrapper">

                    <div class="single-price">
                        <h1>Basic</h1>
                        <div class="price">
                            <h2>$40</h2>
                        </div>
                        <div class="deals">
                            <h4>Monthly Subscription </h4>
                            <h4>Search for resume</h4>
                            <h4>Video Chat</h4>
                            <h4>Whiteboard</h4>
                            <h4>Pay on demand</h4>
                            
                        </div>
                        <a href="#">select</a>
                    </div>
            
                    <div class="single-price">
                        <h1>Standard</h1>
                        <div class="price">
                            <h2>$220</h2>
                        </div>
                        <div class="deals">
                            <h4>6-month subscription</h4>
                            <h4>10% price reduction</h4>
                            <h4>Search for resume</h4>
                            <h4>Video Chat</h4>
                            <h4>Whiteboard</h4>
                        </div>
                        <a href="#">select</a>
                    </div>
            
                    <div class="single-price">
                        <h1>Premium</h1>
                        <div class="price">
                            <h2>$380</h2>
                        </div>
                        <div class="deals">
                            <h4>12-month subscription</h4>
                            <h4>15% price reduction</h4>
                            <h4>Search for resume</h4>
                            <h4>Video Chat</h4>
                            <h4>Whiteboard</h4>
                        </div>
                        <a href="#">select</a>
                    </div>
                </div>
                <!-- <div class="info">
                    <p>As a company you want to hire only the best-of-the-best.</p>
                    <p>To do that you need the best-of-the-best software.</p>
                    <p>Upgrade to Joblify Pro today!</p>
                </div>
                <table class="compare-versions">
                    <tr>
                        <th>Joblify</th>
                        <th>Joblify Pro</th>
                        <th>Annual Joblify Pro</th>
                    </tr>
                    <tr>
                        <td class="price">Free</td>
                        <td class="price">&#36;50 per month</td>
                        <td class="price">&#36;480 per year</td>
                    </tr>
                    <tr>
                        <td class="des" style="width:250px">Ability to search for candidates.</td>
                        <td class="des" style="width:250px">Ability to search for candidates and request one-on-one video calls with an unlimited number of candidates.</td>
                        <td dlass="des" style="width:250px">Ability to search for candidates and request one-on-one video calls with an unlimited number of candidates.</td>
                    </tr>
                    <!--<tr>
                        <td class="white"></td>
                        <td class="white"></td>
                        <td class="white"></td>
                    </tr>-->
                </table> -->
            </section>
        </div>
            

</html>