<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table</title>
    <link rel="stylesheet" href="../static/styles-table.css">
</head>

<body>
    <div class="hero">
        <div class="nav-bar">
            <nav>
                <a href="Home.html">
                    <img src="../static/assets/logo.png" class="logo">
                </a>

                <ul>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="search.html">Search</a></li>
                    <li><a href="prices.html">Products</a></li>
                    <li><a href="login.html">Login</a></li>
                    <li><a href="sign-up.html">Sign Up</a></li>
                </ul>

            </nav>
    </div>
    <main class="table">
        <section class="table__header">
            <h1>Customer's Orders</h1>
            <div class="input-group">
                <input type="search" placeholder="Search Data...">
                <img src="images/search.png" alt="">
            </div>
            <div class="export__file">
                <label for="export-file" class="export__file-btn" title="Export File"></label>
                <input type="checkbox" id="export-file">
                <div class="export__file-options">
                    <label>Export As &nbsp; &#10140;</label>
                    <label for="export-file" id="toPDF">PDF <img src="images/pdf.png" alt=""></label>
                    <label for="export-file" id="toJSON">JSON <img src="images/json.png" alt=""></label>
                    <label for="export-file" id="toCSV">CSV <img src="images/csv.png" alt=""></label>
                    <label for="export-file" id="toEXCEL">EXCEL <img src="images/excel.png" alt=""></label>
                </div>
            </div>
        </section>
        <section class="table__body">
            <table>
                <thead>
                    <tr>
                        <th> Id <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Customer <span class="icon-arrow">&UpArrow;</span></th>
                        <th> </th>
                        <th> </th>
                        <th> Strength <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Score<span class="icon-arrow">&UpArrow;</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> 1 </td>
                        <td> <img src="../static/assets/user.png" alt="">Zinzu Chan Lee</td>
                        <td>  </td>
                        <td>  </td>
                        <td>
                            <p class="status strong">Strong</p>
                        </td>
                        <td> <strong> 97% </strong></td>
                    </tr>
                    <tr>
                        <td> 2 </td>
                        <td><img src="../static/assets/user.png" alt=""> Jeet Saru</td>
                        <td> </td>
                        <td> </td>
                        <td>
                            <p class="status strong">Strong</p>
                        </td>
                        <td> <strong>97%</strong> </td>
                    </tr>
                    <tr>
                        <td> 3</td>
                        <td><img src="../static/assets/user.png" alt=""> Sonal Gharti </td>
                        <td> </td>
                        <td> </td>
                        <td>
                            <p class="status strong">Strong</p>
                        </td>
                        <td> <strong>94.5%</strong> </td>
                    </tr>
                    <tr>
                        <td> 4</td>
                        <td><img src="../static/assets/user.png" alt=""> Alson GC </td>
                        <td> </td>
                        <td> </td>
                        <td>
                            <p class="status strong">Strong</p>
                        </td>
                        <td> <strong>92%</strong> </td>
                    </tr>
                    <tr>
                        <td> 5</td>
                        <td><img src="../static/assets/user.png" alt=""> Sarita Limbu </td>
                        <td> </td>
                        <td> </td>
                        <td>
                            <p class="status Medium">Medium</p>
                        </td>
                        <td> <strong>73%</strong> </td>
                    </tr>
                    <tr>
                        <td> 6 </td>
                        <td><img src="../static/assets/user.png" alt=""> Alex Gonley </td>
                        <td> </td>
                        <td> </td>
                        <td>
                            <p class="status medium">Medium</p>
                        </td>
                        <td> <strong>71%</strong> </td>
                    </tr>
                    <tr>
                        <td> 7</td>
                        <td><img src="../static/assets/user.png" alt=""> Jeet Saru </td>
                        <td> </td>
                        <td> </td>
                        <td>
                            <p class="status medium">Medium</p>
                        </td>
                        <td> <strong>68%</strong> </td>
                    </tr>
                    <tr>
                        <td> 8</td>
                        <td><img src="../static/assets/user.png" alt=""> Aayat Ali Khan </td>
                        <td> </td>
                        <td> </td>
                        <td>
                            <p class="status week">Week</p>
                        </td>
                        <td> <strong>42%</strong> </td>
                    </tr>
                    <tr>
                        <td> 9</td>
                        <td><img src="../static/assets/user.png" alt=""> Alson GC </td>
                        <td> </td>
                        <td> </td>
                        <td>
                            <p class="status week">Week</p>
                        </td>
                        <td> <strong>38%</strong> </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
</body>
</html>